doctype html
html(lang="it")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Pagina Dati Alwaysdata
  body
    h1 Dati Alwaysdata
    if dati
      ul
        li Nome: #{dati.nome}
        li Descrizione: #{dati.descrizione}
        li Data inizio: #{dati.data_inizio}
        li Data fine: #{dati.data_fine}
        li Latitudine: #{dati.latitudine}
        li Longitudine: #{dati.longitudine}
        li Età minima: #{dati.eta_minima}
    else
      p Nessun dato disponibile
